<section class="artistinfo">
	<div class="artist cf" ng-model="artists">
		<h1>{{ artists[whichItem].FirstNameTeacher }}</h1>
		<h1>{{ artists[whichItem].LastNameTeacher }}</h1>
		<div class="info">
			<h3>{{ artists[whichItem].Arey }}</h3>
			<h3>{{ artists[whichItem].City }}</h3>
			<h3>{{ artists[whichItem].SectionName }}</h3>
			<div class="bio">{{ artists[whichItem].Sex }}</div>
			<div>hours One Class : " {{ artists[whichItem].hoursone }} "</div>
			<form action="../Lib/CallTime.html">

				<input type="submit" value="Give To Class" style="background-color: #4CAF50;border: none;color: white;font-size: 16px;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;margin: 4px 2px;cursor: pointer;">
			</form>
		</div>
	</div>
	<a href="index.html">&laquo; Back to the search </a>
</section>